.header
  .header__upper
    .container
      .container__link
        = link_to root_path, class: 'container__link__categories' do
          -# カテゴリーから選ぶ
          %i
          -# = icon('fas', 'angle-down fa-xs')
          = icon('fas', 'align-justify fa-xs')

        = link_to root_path, class: 'container__link__face' do
          =image_tag("logo/ei-smiling_face.png",size: "50x50", alt:"face")
        =image_tag("logo/real.png",size: "80x50", alt:"Real-logo", class: "container__link__logo")
  .header__lower
    .lower-nav
      = link_to root_path, class: 'lower-nav__post' do
        投稿する
