.header
  .header__upper

  .header__lower
    .container
      .container__link
        -# = link_to root_path, class: 'container__link__btn' do
        -#   = icon('fas', 'edit')
        =image_tag("logo/real_logo.png",size: "250x90", alt:"Real-logo", class: "container__link__logo")
