<div class="header">
  <a href="/" class="header-logo">REAL</a>
  <a href="#" class="header-user"><i class="far fa-user"></i></a>
  <span class="header-heart"><i class="far fa-heart"></i></span>
  <span class="header-search"><i class="fas fa-search"></i></span>
</div>
  <div id="navArea">
    <nav>
      <div class="inner">
        <ul>
          <li><a href="#">カテゴリーから探す</a></li>
          <li><a href="#">新規投稿</a></li>
          <li><a href="#">ログイン</a></li>
          <li><a href="#">マイページ</a></li>
        </ul>
      </div>
    </nav>
    <div class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="mask"></div>
  </div>


<main>
  <h1>Hamburger Menu Sample01</h1>
</main>
<!--<%image_tag("logo/real.png",size: "100x50", alt:"Real-logo", class: "container__link__logo") %>-->
