<div class="main">
  <div class="contents">
    <% @items.each do |item|%>
      <div class="contents-image">
        <%= image_tag item.image.url, class: 'image', size: '300x300' %>
      </div>
    <% end %>
  </div>
</div>
