<div class="main">
  <div class="contents-parts">
    <% @items.each do |item| %>
      <%= link_to (image_tag "#{item.image}"), item_path(item.id), class: "content-image" %>
    <% end %>

  </div>
  <div class="more">
    <%= link_to "もっとみる", indexInner_items_path, class: "btn-stitch" %>
  </div>
</div>
