<%# APIログインするとき用 %>

<%
=begin
%>
<div class="wrapper">
  <%= render "header" %>
    <div class="registration-container">
      <div class="registration-inner">

      </div>
    </div>
  <%= render "footer" %>
</div>
<%
=end
%>
