.main {
  height: 100vh;
  width: 100%;
}

.contents {
  height: 100vh;
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
}

.contents-image {
  height: 280px;
  width: 280px;
  margin: 30px auto;

}
