.main {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  overflow: scroll;
}

.contents-parts {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
}

.contents-image {
  height: 280px;
  width: 301px;
  margin: 0 auto;
  box-shadow: 0 0 4px gray;
}


/*------------

indexInner

--------------*/
.contents {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/*----------------

ページネーション

------------------*/
.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
  background-color: grey;
  text-decoration: none;
}

.pagination * {
  color: white;
  margin: 0 7px;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
}

.current {
  font-style: normal;
  color: white;
  background: #93c9ff;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
}

.pagination a:hover {
  background: #93c9ff;
}

.pagination .disabled {
  color: #666666;
  padding: 11px 17px;
  border: 1px solid #666666;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
}

.more {
  text-align: center;
  margin-top: 20px;
}

.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #93c9ff;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #93c9ff;
  border: dashed 1px #FFF;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
}
